snippet cc
 // ARM10C `system("date +%Y%m%d")`
 
snippet cc1
 // ARM10C `system("date +%Y%m%d")` ${1:write your comment}
 
snippet cc2
 // start ARM10C `system("date +%Y%m%d")` ${1:write your comment}
 // end ARM10C `system("date +%Y%m%d")` $1
